<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canteen System</title>
    <link href="img/favicon.ico" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="~/NewTemp/css/font.css" rel="stylesheet" />
    <link href="~/NewTemp/css/allmin.css" rel="stylesheet" />
    <link href="~/NewTemp/css/bootstrapicons.css" rel="stylesheet" />

    <link href="~/NewTemp/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/NewTemp/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/NewTemp/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/NewTemp/css/style.css" rel="stylesheet" />

    <link href="~/Web/css/sweetalert2.css" rel="stylesheet" />
    <script src="~/Web/js/jquery-3.7.1.min.js"></script>

    <script src="~/Web/js/qrcode.min.js"></script>

   
    <script type="text/javascript">

        $(document).ready(function () {

            var strLogInId = sessionStorage.getItem("LogInID");
            var UserName = sessionStorage.getItem("EmpName");
            var EmpMobile = sessionStorage.getItem("EmpMobile");
            var EmpLocation = sessionStorage.getItem("EmpLocation");
            var EmpRole = sessionStorage.getItem("EmpRole");
            var CanteenId = sessionStorage.getItem("CanteenId");

            if (strLogInId == null || strLogInId == 0) {
                window.location.href = '/Home/Index';
            }

            if (EmpRole == "Admin") {
                $("#AdminPage").show();
                $("#IssueCouponPage").show();
                $("#BulkUploadPage").show();
                $("#StaffPage").hide();
                $("#EmployeePage").hide();
                $("#LogoutPage").show();
            }

            if (EmpRole == "Staff") {
                $("#AdminPage").hide();
                $("#IssueCouponPage").hide();
                $("#BulkUploadPage").hide();
                $("#StaffPage").show();
                $("#EmployeePage").hide();
                $("#LogoutPage").show();
            }

            if (EmpRole == "Employee") {
                $("#AdminPage").hide();
                $("#IssueCouponPage").hide();
                $("#BulkUploadPage").hide();
                $("#StaffPage").hide();
                $("#EmployeePage").show();
                $("#LogoutPage").show();
            }

            //$("#dvRoleType").html(EmpRole);
            $("#dvUserName").html(UserName);

        });

    </script>
</head>

<body>
    <div id="main-wrapper">

        @Html.Partial("_Header")

        @RenderBody()

        @*<footer>
            @Html.Partial("_Footer")
        </footer>*@
    </div>


    <script src="~/Web/js/sweetalert2.js"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/NewTemp/lib/wow/wow.min.js"></script>
    <script src="~/NewTemp/lib/easing/easing.js"></script>
    <script src="~/NewTemp/lib/waypoints/waypoints.min.js"></script>
    <script src="~/NewTemp/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/NewTemp/js/main.js"></script>

</body>
</html>