
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row" style="margin-top: 2%; margin-left: 2%; margin-right: 2%;">
        <div class="col-6">
            <div class="row">
                Banswara is situated in South Rajasthan in India. Banswara princely state was founded by Maharawal Jagmal Singh.
                It gets the name from dominance of “bans” or bamboo forests. It is also known as ‘City of Hundred Islands’,
                due to presence of numerous islands in the Mahi River, which flows through Banswara.
            </div>
        </div>
    </div>
</div>