
@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-sm-5" style="margin-top: 2%; margin-left: 2%;">
                    <h5>REGISTERED OFFICE</h5>
                    <p>
                        <strong>Banswara Syntex Limited</strong>,<br>
                        Industrial Area, Dahod Road,<br>
                        Banswara-327 001<br>
                        Rajasthan, INDIA<br>
                        <i class="fa fa fa-phone"></i> +91-02962-257676,257679-681<br>
                        <i class="fa fa fa-fax"></i> +91-02962-240692<br>
                        <i class="fa fa fa-envelope-o"></i> info@banswarasyntex.com
                    </p>
                </div>

                <div class="col-sm-5" style="margin-top: 2%; margin-left: 2%;">
                    <h5>CORPORATE OFFICE</h5>
                    <p>
                        <strong>Banswara Syntex Limited</strong>,<br>
                        4th &amp; 5th Floor, Gopal Bhavan,<br>
                        199, Princess Street<br>
                        Mumbai-400 002<br>
                        Maharashtra, INDIA<br>
                        <i class="fa fa fa-phone"></i> +91 022 66336571-76<br>
                        <i class="fa fa fa-envelope-o"></i> info@banswarasyntex.com
                    </p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-5" style="margin-top: 2%; margin-left: 2%;">
                    <h5>GARMENT - SURAT</h5>
                    <p>
                        <strong>Banswara Syntex Limited</strong>,<br>
                        Plot No 5 & 6, Surat Apparel Park,<br>
                        Special Economic Zone, Sachin,<br>
                        Surat – 394230 INDIA<br>
                        <i class="fa fa fa-phone"></i> +91 011 23676124, 23676948<br>
                        <i class="fa fa fa-envelope-o"></i> info@banswarasyntex.com
                    </p>
                </div>
                <div class="col-sm-5" style="margin-top: 2%; margin-left: 2%;">
                    <h5>GARMENT - DAMAN</h5>
                    <p>
                        <strong>Banswara Garments</strong>,<br>
                        Survey No 85/3 & 4, 86/2,<br>
                        Kadaiya Industrial Estate,<br>
                        Kadaiya , Daman – 396210 INDIA<br>
                        <i class="fa fa fa-envelope-o"></i> info@banswarasyntex.com
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>