
@{
    ViewBag.Title = "StaffDashboard";
}

@{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Web/css/select2.min.css" rel="stylesheet" />

    <script type="text/javascript">

        $(document).ready(function () {
            Fn_Get_Coupon_Order();
        });


        function Fn_ProcessCouponTransaction() {
            
            const input = document.getElementById("txtCouponId").value.trim();
            const res = document.getElementById("pos-result");
            //if (!selectedMenuItem) 
            //{
            //    res.innerHTML = `<div class="result-fail"><div class="result-icon">⚠️</div><div class="result-title">Select a menu item first</div></div>`; return;
            //}
            var coupon = input.split("-");
            var clsCouponReport = {};
            clsCouponReport.ModifiedBy = sessionStorage.getItem("LogInID");
            clsCouponReport.CouponId = input;
            clsCouponReport.CanteenId = sessionStorage.getItem("CanteenId");
            //clsCouponReport.ItemCategory = selectMenuItem;

            if (input == "") {
                Swal.fire({ title: "", text: "Please Scan QR-Code", icon: "error" });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Staff/Fn_ProcessCouponTransaction",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsCouponReport),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            Swal.fire({ title: "", text: "Coupon Scanned Successfully", icon: "success" });
                            $("#txtCouponId").val("");
                            Fn_Get_Coupon_Order();
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                            $("#txtCouponId").val("");
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            }            
        }

        function Fn_ClearPosResult() {
        
            document.getElementById('pos-result').innerHTML = '';

        }



        function Fn_Get_Coupon_Order() {

            var CurrentDate = new Date();

            var day = String(CurrentDate.getDate()).padStart(2, '0');
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var month = months[CurrentDate.getMonth()];
            var year = CurrentDate.getFullYear();

            var formattedDate = day + "-" + month + "-" + year;

            $("#spnDate").html(formattedDate);

            var clsCouponReport = {};
            clsCouponReport.ModifiedBy = sessionStorage.getItem("LogInID");
            clsCouponReport.OrderStatus = "Scanned";
            clsCouponReport.OrderTakenDate = formattedDate;

            $("#tbody").html('');
            var html = '';

            $.ajax({
                type: "POST",
                url: "/Staff/Fn_Get_Coupon_Order",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsCouponReport),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {
                            html += "<tr>";
                            html += "<td>" + obj[i].OrderTakenDate + "</td>";
                            html += "<td>" + obj[i].CouponId + "</td>";
                            html += "<td>" + obj[i].EmpId + "</td>";
                            html += "<td>" + obj[i].EmpName + "</td>";
                            if (obj[i].ItemCategory == "Tea") {
                                html += "<td>☕ Tea</td>";
                            }
                            else if (obj[i].ItemCategory == "Breakfast") {
                                html += "<td>🍽️ Breakfast</td>";
                            }
                            else if (obj[i].ItemCategory == "Thali") {
                                html += "<td>🍛 Thali</td>";
                            }
                            else {
                                html += "<td>" + obj[i].ItemCategory + "</td>";
                            }
                            html += "</tr>";
                        }
                    }
                    else {
                        html += "<tr>";
                        html += "<td colspan='5'>" + obj[0].vErrorMsg + "</td>";
                        html += "</tr>";
                    }
                    $("#tbody").append(html);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }


    </script>

}

<div class="container">
    <div class="card" style="background-color: #06BBCC; background-image: linear-gradient(to bottom, #10D4E6, #1BCEDE); color: white;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" style="color: white;"><b>Home</b></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" style="color: white;"><b>Staff</b></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <b style="color: white;">Scan Coupon</b>
                </li>
            </ol>
        </nav>
    </div>
</div>


<div class="container">

    <div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="team-item">
                        <div class="scan-big-icon">📲</div>
                        <div style="font-size:15px;font-weight:700;margin-bottom:4px;">Scan QR-Code or Enter coupon id</div>
                        <input class="scan-input" id="txtCouponId" placeholder="Please Scan QR-code" onkeydown="if (event.key === 'Enter') Fn_ProcessCouponTransaction();" oninput="Fn_ClearPosResult();" />
                        <button class="btn btn-primary btn-full mb-2" style="margin-top:12px;" onclick="Fn_ProcessCouponTransaction()">✓ Process Transaction</button>
                    </div>
                </div>
            </div>
            <div id="pos-result" style="flex:1;min-width:220px;"></div>
        </div>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr style="background-color: #06BBCC; background-image: linear-gradient(to bottom, #10D4E6, #1BCEDE); color: white;">
                                <th>Issue Date</th>
                                <th>Coupon ID</th>
                                <th>Emp ID</th>
                                <th>Name</th>
                                <th>Item</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>