
@{
    ViewBag.Title = "AdminDashboard";
}

@{

    <script src="~/Web/js/jquery-3.7.1.min.js"></script>
    <link href="~/Web/css/select2.min.css" rel="stylesheet" />
    <script>

        $(document).ready(function () {

            var strFieldName = " CONCAT(EmpName, ' (', EmployeeId, ')') AS EmpName ";
            Fn_Fill_DropdownList("ddlEmpName", "EmployeeMaster", strFieldName, "EmployeeId", "");


            // doLogin();

            $("#emp-search").on("keyup", function () {
                var value = $(this).val().toLowerCase();

                $("#emp-tbl tr").each(function () {
                    var col1 = $(this).find("td:eq(0)").text().toLowerCase(); // First column
                    var col2 = $(this).find("td:eq(1)").text().toLowerCase(); // Second column

                    $(this).toggle(
                        col1.indexOf(value) > -1 || col2.indexOf(value) > -1
                    );
                });
            });

        });

        function Fn_Fill_DropdownList(ddlName, strTBLName, strFieldName, strValueField, strCriteria) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vValueField = strValueField;
            clsRequestDropdown.vTBLName = strTBLName;
            clsRequestDropdown.vCriteria = strCriteria;
            $("#" + ddlName).html('');
            var dropdown = ''; var dropdown1 = "";
            dropdown1 = "<option value='0'>--Select--</option>";
            $("#" + ddlName).append(dropdown1);
            $.ajax({
                type: "POST",
                url: '/Home/Fn_Fill_DropdownList',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestDropdown),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    for (var i = 0; i < obj.length; i++) {
                        if (strValueField == "") {
                            dropdown += "<option value='" + obj[i].vFieldName + "'>" + obj[i].vFieldName + "</option>";
                        }
                        else {
                            dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "</option>";
                        }

                    }
                    $("#" + ddlName).append(dropdown);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_Fetch_EmployeeList() {

            var clsEmployee = {};
            clsEmployee.CreatedBy = sessionStorage.getItem("LogInID");
            $("#emp-tbl").html('');
            var html = '';
            $.ajax({
                type: "POST",
                url: "/Admin/Fn_Fetch_EmployeeDetails",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsEmployee),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {

                            html += "<tr>";
                            html += "<td>" + obj[i].EmpId + "</td>";
                            html += "<td>" + obj[i].EmpName + "</td>";
                            html += "<td>" + obj[i].Department + "</td>";
                            html += "<td>" + obj[i].Location + "</td>";
                            html += "<td><div class='chip-canteen' style='background:#E8EEFB; color:#1B4FCC;'>🔵 " + obj[i].CanteenName + "</div></td>";
                            html += "<td></td>";
                            html += "<td><span class='badge badge-active'>Active</span></td>";

                            //html += "<td></td>";
                            html += "<td style='display: flex; gap: 6px;'>";
                            html += "<button class='btn' style='font-size:11px;padding:5px 10px;' onclick=viewEmpModal(" + obj[i].EmpId + ")>View</button>";
                            html += "<button class='btn btn-primary' style='font-size: 11px; padding: 5px 10px;' onclick=presetIssue('${e.empNo}')>Recharge</button>";
                            html += "</td>";
                            html += "</tr>";

                        }
                    }
                    else {
                        html += "<tr><td colspan='8' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";
                    }
                    $("#emp-tbl").append(html);
                },
                error: function (err) {
                    alert(err);

                }
            });
        }

        function Fn_Fetch_EmployeeDetailsByID(empId) {

            var clsEmployee = {};
            clsEmployee.CreatedBy = sessionStorage.getItem("LogInID");
            clsEmployee.EmpId = empId;
            $.ajax({
                type: "POST",
                url: "/Admin/Fn_Fetch_EmployeeDetails",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsEmployee),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {

                            html += "<tr>";
                            html += "<td>" + obj[i].EmpId + "</td>";
                            html += "<td>" + obj[i].EmpName + "</td>";
                            html += "<td>" + obj[i].Department + "</td>";
                            html += "<td>" + obj[i].Location + "</td>";
                            html += "<td><div class='chip-canteen' style='background:#E8EEFB; color:#1B4FCC;'>🔵 " + obj[i].CanteenName + "</div></td>";
                            html += "<td></td>";
                            html += "<td><span class='badge badge-active'>Active</span></td>";

                            //html += "<td></td>";
                            html += "<td style='display: flex; gap: 6px;'>";
                            html += "<button class='btn' style='font-size:11px;padding:5px 10px;' onclick=viewEmpModal(" + obj[i].EmpId + ")>View</button>";
                            html += "<button class='btn btn-primary' style='font-size: 11px; padding: 5px 10px;' onclick=presetIssue('${e.empNo}')>Recharge</button>";
                            html += "</td>";
                            html += "</tr>";

                        }
                    }
                    else {
                        html += "<tr><td colspan='8' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";
                    }
                    $("#emp-tbl").append(html);
                },
                error: function (err) {
                    alert(err);

                }
            });
        }

        function Fn_OnChange_ddlEmpName() {
            var strCriteria = "";
            var ddlEmpName = $("#ddlEmpName").val();
            strCriteria = " AND EmployeeId=" + ddlEmpName + "";
            Fn_Fill_DropdownList("ddlCanteen", "vGetEmpDetail", "CanteenName", "CanteenId", strCriteria);
        }

        function Fn_Emp_CouponGeneration() {
            var clsCouponOrder = {};
            clsCouponOrder.CreatedBy = 2000300; // sessionStorage.getItem("LogInID");
            clsCouponOrder.EmpId = $("#ddlEmpName").val();
            clsCouponOrder.CanteenId = $("#ddlCanteen").val();
            var clsCouponItem = [];

            if ($('#txtTeaQty').val() != "0" && $('#txtTeaQty').val() != null) {
                clsCouponItem.push({
                    ItemCategory: 'Tea',
                    Quantity: $('#txtTeaQty').val()
                });
            }

            if ($('#txtBreakfast').val() != "0" && $('#txtBreakfast').val() != null) {
                clsCouponItem.push({
                    ItemCategory: 'Breakfast',
                    Quantity: $('#txtBreakfast').val()
                });
            }
            if ($('#txtThali').val() != "0" && $('#txtThali').val() != null) {
                clsCouponItem.push({
                    ItemCategory: 'Tea',
                    Quantity: $('#txtThali').val()
                });
            }
            clsCouponOrder.Items = clsCouponItem;


            if ($("#ddlEmpName").val() == "0") {
                Swal.fire({ title: "", text: "Please Select Employee", icon: "error" });
            }
            else if ($("#ddlCanteen").val() == "0") {
                Swal.fire({ title: "", text: "Please Select Canteen", icon: "error" });
            }
            else if (clsCouponOrder.Items.length == 0 || clsCouponOrder.Items.length == null) {
                Swal.fire({ title: "", text: "Please Select Item Menu", icon: "error" });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Fn_Emp_CouponGeneration",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsCouponOrder),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            Swal.fire({ title: "", text: "Order Placed Successfully.", icon: "success" });
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }
                    },
                    error: function (err) {
                        alert(err);

                    }
                });
            }

        }

        function Fn_Get_Coupon_Order() {

            var clsCouponOrder = {};
            clsCouponOrder.CreatedBy = sessionStorage.getItem("LogInID");
            clsCouponOrder.EmpId = $("#ddlEmpName").val();
            $("#issue-preview-box").html('');
            var html = '';
            $.ajax({
                type: "POST",
                url: "/Admin/Fn_Get_Coupon_Order",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsCouponOrder),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {
                            html += "<div class='qr-card' id='gen-qr-card_" + i + "'>";
                            html += "<div style='display:flex; align-items:center; justify-content:space-between; gap:10px; margin-bottom:10px;'>";
                            html += "<img src='/Web/img/banswara_logo.png' style='width:80px; height:auto;' />";
                            html += "<div id='gen-qr-wrap_" + i + "' style='width:100px; height:100px; display:flex; align-items:center; justify-content:center;'></div>";
                            html += "</div>";
                            html += "<div class='qr-canteen-band'>CouponId: " + obj[i].CouponId + "</div>";
                            html += "<div class='qr-canteen-band'>Name: " + obj[i].EmpName + " (" + obj[i].EmpId + ")</div>";
                            html += "<div class='qr-canteen-band'>Item: " + obj[i].ItemCategory + "</div>";
                            html += "<div class='qr-canteen-band'>Canteen: " + obj[i].CanteenName + "</div>";
                            html += "<div class='qr-canteen-band'>Date: " + obj[i].CouponIssueDate + "</div>";
                            html += "</div>";

                        }

                        $("#issue-preview-box").append(html);

                        for (var i = 0; i < obj.length; i++) {

                            var text = obj[i].CouponId;

                            var qrcode = new QRCode(document.getElementById("gen-qr-wrap_" + i), {
                                width: 70,
                                height: 70
                            });

                            qrcode.makeCode(text);
                        }
                        $("#issue-print-btn").show();
                    }
                    else {
                        $("#issue-print-btn").hide();
                    }
                },
                error: function (err) {
                    alert(err);

                }
            });
        }

        function printQRCoupons() {

            var printContents = document.getElementById("issue-preview-box").innerHTML;

            var printWindow = window.open('', '', 'width=900,height=700');

            printWindow.document.write(`
                            <html>
                            <head>
                                <title>Print QR Stickers</title>

                                <style>
                                    body{
                                        margin:0;
                                        padding:10px;
                                        font-family:Arial, sans-serif;
                                    }

                                    .qr-card{
                                        width:3in;
                                        border:1px solid #000;
                                        padding:8px;
                                        margin:10px auto;
                                        box-sizing:border-box;
                                        page-break-inside:avoid;
                                    }

                                    .qr-canteen-band{
                                        font-size:12px;
                                        font-weight:bold;
                                        margin:3px 0;
                                    }

                                    .qr-card img{
                                        width:80px;
                                    }

                                    @@page{
                                        margin:0.2in;
                                    }
                                </style>
                            </head>

                            <body>
                                ${printContents}
                            </body>
                            </html>
                        `);

            printWindow.document.close();

            printWindow.onload = function () {
                printWindow.focus();
                printWindow.print();
                printWindow.close();
            };
        }

    </script>




}

<div class="container mt-4">
    <div class="card">
        <nav aria-label="breadcrumb">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="products.html">Products</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Mobile
                </li>
            </ol>

        </nav>
    </div>
    @*<div class="card" style="width: 20rem;">
            <div class="card-header">
                Featured
            </div>

            <div class="card-body">
                <h5 class="card-title">Welcome</h5>
                <p class="card-text">
                    Bootstrap cards are flexible and easy to customize.
                </p>
                <button class="btn btn-primary">Click Me</button>
            </div>

            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>*@
</div>

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-title text-center text-primary px-3">Admin</h6>
            <h1 class="mb-5">Dashboard</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/team-1.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/team-2.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/team-3.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/team-4.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/team-2.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/team-3.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/team-4.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/team-1.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
