
@{
    ViewBag.Title = "AdminDashboard";
}

@{

    <script src="~/Web/js/jquery-3.7.1.min.js"></script>
    <link href="~/Web/css/select2.min.css" rel="stylesheet" />
    <script>

        $(document).ready(function () {


            var strCriteria = "";
            strFieldName = "";
            strFieldName = " Count(EmployeeId) AS RC ";
            Fn_Get_Count_Record("spnTotalEmp", "EmployeeMaster", strFieldName, "");
            strFieldName = "";
            strFieldName = " Count(CouponId) As RC ";
            strCriteria = " AND OrdStatus = 'Generated' ";
            Fn_Get_Count_Record("spnActiveCoupon", "CouponOrder2026", strFieldName, strCriteria);


            //$("#emp-search").on("keyup", function () {
            //    var value = $(this).val().toLowerCase();

            //    $("#emp-tbl tr").each(function () {
            //        var col1 = $(this).find("td:eq(0)").text().toLowerCase(); // First column
            //        var col2 = $(this).find("td:eq(1)").text().toLowerCase(); // Second column

            //        $(this).toggle(
            //            col1.indexOf(value) > -1 || col2.indexOf(value) > -1
            //        );
            //    });
            //});

            Fn_Get_Recent_Coupon_Transactions();

        });

        function Fn_Fill_DropdownList(ddlName, strTBLName, strFieldName, strValueField, strCriteria) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vValueField = strValueField;
            clsRequestDropdown.vTBLName = strTBLName;
            clsRequestDropdown.vCriteria = strCriteria;
            $("#" + ddlName).html('');
            var dropdown = ''; var dropdown1 = "";
            dropdown1 = "<option value='0'>--Select--</option>";
            $("#" + ddlName).append(dropdown1);
            $.ajax({
                type: "POST",
                url: '/Home/Fn_Fill_DropdownList',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestDropdown),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    for (var i = 0; i < obj.length; i++) {
                        if (strValueField == "") {
                            dropdown += "<option value='" + obj[i].vFieldName + "'>" + obj[i].vFieldName + "</option>";
                        }
                        else {
                            dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "</option>";
                        }

                    }
                    $("#" + ddlName).append(dropdown);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_Get_Recent_Coupon_Transactions() {

            var today = new Date();

            var day = String(today.getDate()).padStart(2, '0');
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var month = months[today.getMonth()];
            var year = today.getFullYear();

            var formattedDate = day + "-" + month + "-" + year;



            var clsCouponReport = {};
            // clsCouponReport.CreatedBy = 2000300; // sessionStorage.getItem("LogInID");
            clsCouponReport.OrderStatus = "Scanned";
            // clsCouponReport.OrderTakenDate = formattedDate;
            $("#tbodyRecent_TNX").html('');
            var html = '';
            $.ajax({
                type: "POST",
                url: "/Admin/Fn_Get_Coupon_Order",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsCouponReport),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {
                            html += "<tr>";
                            html += "<td>" + obj[i].OrderTakenTime + "</td>";
                            html += "<td>" + obj[i].CouponId + "</td>";
                            html += "<td>" + obj[i].EmpId + "</td>";
                            html += "<td>" + obj[i].EmpName + "</td>";
                            if (obj[i].ItemCategory == "Tea") {
                                html += "<td>☕ Tea</td>";
                            }
                            else if (obj[i].ItemCategory == "Thali") {
                                html += "<td>🍛 Thali</td>";
                            }
                            else if (obj[i].ItemCategory == "Breakfast") {
                                html += "<td>🍽️ Breakfast</td>";
                            }
                            else {
                                html += "<td>" + obj[i].ItemCategory + "</td>";
                            }
                            html += "<td>" + obj[i].CanteenName + "</td>";
                            html += "</tr>";
                        }
                    }
                    else {
                        html += "<tr>";
                        html += "<td colspan='6'>" + obj[0].vErrorMsg + "</td>";
                        html += "<tr>";
                    }
                    $("#tbodyRecent_TNX").append(html);
                },
                error: function (err) {
                    alert(err);

                }
            });
        }

        function Fn_Get_Count_Record(TagId, strTBLName, strFieldName, strCriteria) {

            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vTBLName = strTBLName;
            clsRequestDropdown.vCriteria = strCriteria;
            $("#" + TagId).html('');
            $.ajax({
                type: "POST",
                url: '/Admin/Fn_Get_Count_Record',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestDropdown),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj.vErrorMsg == "Success") {
                        $("#" + TagId).html(obj.vFieldName);
                    }
                    else {
                        $("#" + TagId).html('');
                    }

                },
                error: function (err) {
                    alert(err);
                }
            });
        }


    </script>


    <style>
        .stat-ic {
            width: 36px;
            height: 36px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            margin-bottom: 10px;
        }
    </style>

}


<div class="container mt-3">
    <div class="row">

        <div class="col-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Coupon</th>
                                <th>Emp No</th>
                                <th>Name</th>
                                <th>Item</th>
                                <th>Canteen</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyRecent_TNX"></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Team End -->
