
@{
    ViewBag.Title = "BulkUploadEmpData";
}

<script src="~/Web/js/xlsx.full.min.js"></script>

<script type="text/javascript">

    function Fn_Upload_BulkEmployeeData() {

        var clsEmployee = {};

        let file = $("#fileBulkEmpDataUpload").get(0).files[0];
        if (!file) {
            Swal.fire({ title: "", text: "Select an Excel File", icon: "error" });
        }

        let formData = new FormData();
        formData.append("file", file);

        $.ajax({
            type: "POST",
            url: "/Admin/Fn_Upload_BulkEmployeeData",
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.success) {
                    Swal.fire({ title: "", text: "Employee Data imported successfully", icon: "success" });
                    Fn_ResetFields();
                }
                else {
                    Swal.fire({ title: "", text: "Employee Data import failed", icon: "error" });
                }
            },
            error: function (err) {
                alert(err);
            }
        });
    }


    function Fn_ResetFields() {
        const EmpDataExcelFile = document.getElementById('fileBulkEmpDataUpload');
        EmpDataExcelFile.value = '';
    }


    function Fn_EmployeeExcelFileFormatDownload() {

        var fileName = "EmpExcelFormat.xlsx";

        var headers = [
            "EmployeeId", "EmpName", "EmpLocation", "Department",
            "EmpRole", "CanteenName", "EmpMobile"
        ]

        var excelData = [];
        excelData.push(headers);

        var worksheet = XLSX.utils.aoa_to_sheet(excelData);

        var workbook = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(workbook, worksheet, "EmployeeData");

        XLSX.writeFile(workbook, fileName);
    }

</script>


<div class="container">
    
    <div class="row">
        <div class="col-xl-12 col-xxl-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-label"><b>Upload Excel File</b></label>
                                <input type="file" id="fileBulkEmpDataUpload" name="fileBulkEmpDataUpload" accept=".xlsx,.xls" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-4" style="margin-top: 3%;">
                            <button type="submit" id="btnUpload" name="btnUpload" class="btn btn-primary pull-right" onclick="Fn_Upload_BulkEmployeeData();">Upload File</button>
                            <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-success pull-right" onclick="Fn_ResetFields();" style="margin-right:0.5%;">Reset</button>
                        </div>

                        <div class="col-sm-4" style="margin-top: 3%;">
                            <div class="form-group">
                                <button type="submit" id="btnExcelSheetFormat" name="btnExcelSheetFormat" class="btn btn-primary pull-right" onclick="Fn_EmployeeExcelFileFormatDownload();">Emp Excel Format Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>