
@{
    ViewBag.Title = "IssueCoupon";
}

@{
    <script src="~/Web/js/jquery-3.7.1.min.js"></script>
    <link href="~/Web/css/select2.min.css" rel="stylesheet" />

    <script type="text/javascript">

        $(document).ready(function () {

            var strCriteria = " AND EmpRole = 'Employee' ";
            var strFieldName = " CONCAT(EmpName, ' (', EmployeeId, ')') AS EmpName ";
            Fn_Fill_DropdownList("ddlEmpName", "EmployeeMaster", strFieldName, "EmployeeId", strCriteria);
            Fn_Get_All_MenuItems();
        });
        function Fn_Fill_DropdownList(ddlName, strTBLName, strFieldName, strValueField, strCriteria) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vValueField = strValueField;
            clsRequestDropdown.vTBLName = strTBLName;
            clsRequestDropdown.vCriteria = strCriteria;
            $("#" + ddlName).html('');
            var dropdown = ''; var dropdown1 = "";
            if (ddlName == "ddlEmpName") {
                dropdown1 = "<option value='0'>--Select--</option>";
                $("#" + ddlName).append(dropdown1);
            }
            $.ajax({
                type: "POST",
                url: '/Home/Fn_Fill_DropdownList',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestDropdown),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    for (var i = 0; i < obj.length; i++) {
                        if (strValueField == "") {
                            dropdown += "<option value='" + obj[i].vFieldName + "'>" + obj[i].vFieldName + "</option>";
                        }
                        else {
                            dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "</option>";
                        }

                    }
                    $("#" + ddlName).append(dropdown);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_OnChange_ddlEmpName() {
            var strCriteria = "";
            var ddlEmpName = $("#ddlEmpName").val();
            strCriteria = " AND EmployeeId=" + ddlEmpName + "";
            Fn_Fill_DropdownList("ddlEmpLocation", "vGetEmpDetail", "EmpLocation", "", strCriteria);

            var strCriteria = "";
            var ddlEmpName = $("#ddlEmpName").val();
            var ddlEmpLocation = $("#ddlEmpLocation option:selected").text();
            strCriteria = " AND EmployeeId=" + ddlEmpName + " OR EmpLocation='" + ddlEmpLocation + "'";
            Fn_Fill_DropdownList("ddlCanteen", "vGetEmpDetail", "CanteenName", "CanteenId", strCriteria);
        }

        function Fn_OnChange_ddlEmpLocation() {
            var strCriteria = "";
            var ddlEmpName = $("#ddlEmpName").val();
            strCriteria = " AND EmployeeId=" + ddlEmpName + " AND EmpLocation='" + $("#ddlEmpLocation").val() + "'";
            Fn_Fill_DropdownList("ddlCanteen", "vGetEmpDetail", "CanteenName", "CanteenId", strCriteria);
        }

        function Fn_Get_All_MenuItems() {

            var clMenuItems = {};
            clMenuItems.Category = "All";
            $("#dvMenuItem").html('');
            var html = '';
            $.ajax({
                type: "POST",
                url: "/Admin/Fn_Get_All_MenuItems",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clMenuItems),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {
                            if (obj[i].Category == "Tea") {
                                html += "<div class='col-sm-3'>";
                                html += "<div class='form-group'><span>☕ <strong>Tea</strong></span>";
                                html += "<input type='number' id='txtTeaQty' min='0' class='form-control' />";
                                html += "</div>";
                                html += "</div>";
                            }
                            else if (obj[i].Category == "Breakfast") {
                                html += "<div class='col-sm-3'>";
                                html += "<div class='form-group'><span>🍽️ <strong>Breakfast</strong></span></span>";
                                html += "<input type='number' id='txtBreakfastQty' min='0' class='form-control' />";
                                html += "</div>";
                                html += "</div>";
                            }
                            else if (obj[i].Category == "Mini Thali") {
                                html += "<div class='col-sm-3'>";
                                html += "<div class='form-group'><span>🍛 <strong>Mini Thali</strong></span></span>";
                                html += "<input type='number' id='txtMiniThaliQty' min='0' class='form-control' />";
                                html += "</div>";
                                html += "</div>";
                            }
                            else if (obj[i].Category == "Thali") {
                                html += "<div class='col-sm-3'>";
                                html += "<div class='form-group'><span>🍛 <strong>Thali</strong></span></span>";
                                html += "<input type='number' id='txtThaliQty' min='0' class='form-control' />";
                                html += "</div>";
                                html += "</div>";
                            }
                            else {

                            }
                        }
                    }
                    else {
                    }
                    $("#dvMenuItem").append(html);
                },
                error: function (err) {
                    alert(err);

                }
            });
        }

        function Fn_Emp_CouponGeneration() {

            var clsCouponOrder = {};
            clsCouponOrder.CreatedBy = sessionStorage.getItem("LogInID");
            clsCouponOrder.EmpId = $("#ddlEmpName").val();
            clsCouponOrder.EmpLocation = $("#ddlEmpLocation").val();
            clsCouponOrder.CanteenId = $("#ddlCanteen").val();
            var clsCouponItem = [];

            if ($("#txtTeaQty").val() != "0" && $("#txtTeaQty").val() != "") {
                clsCouponItem.push({
                    ItemCategory: 'Tea',
                    Quantity: $("#txtTeaQty").val()
                });
            }

            if ($("#txtBreakfastQty").val() != "0" && $("#txtBreakfastQty").val() != "") {
                clsCouponItem.push({
                    ItemCategory: 'Breakfast',
                    Quantity: $('#txtBreakfastQty').val()
                });
            }

            if ($("#txtThaliQty").val() != "0" && $("#txtThaliQty").val() != "") {
                clsCouponItem.push({
                    ItemCategory: 'Thali',
                    Quantity: $("#txtThaliQty").val()
                });
            }
            if ($("#txtMiniThaliQty").val() != "0" && $("#txtMiniThaliQty").val() != "") {
                clsCouponItem.push({
                    ItemCategory: 'Mini Thali',
                    Quantity: $("#txtMiniThaliQty").val()
                });
            }
            clsCouponOrder.Items = clsCouponItem;

            var txtTeaQty = $("#txtTeaQty").val();
            var txtBreakfastQty = $("#txtBreakfastQty").val();
            var txtThaliQty = $("#txtThaliQty").val();
            var txtMiniThaliQty = $("#txtMiniThaliQty").val();

            if ($("#ddlEmpName").val() == "0") {
                Swal.fire({ title: "", text: "Please Select Employee", icon: "error" });
            }
            if ($("#ddlEmpLocation").val() == "0") {
                Swal.fire({ title: "", text: "Please Select EmpLocation", icon: "error" });
            }
            else if ($("#ddlCanteen").val() == "0") {
                Swal.fire({ title: "", text: "Please Select Canteen", icon: "error" });
            }
            else if (txtTeaQty == "0" && txtBreakfastQty == "0" && txtThaliQty == "0" && txtMiniThaliQty == "0" &&
                txtTeaQty == "" && txtBreakfastQty == "" && txtThaliQty == "" && txtMiniThaliQty == "") {
                Swal.fire({ title: "", text: "Please enter quantity of any one items ", icon: "error" });
            }
            else if (txtTeaQty == "" && txtBreakfastQty == "" && txtThaliQty == "" && txtMiniThaliQty == "") {
                Swal.fire({ title: "", text: "Please enter quantity of any one items ", icon: "error" });
            }
            else if (clsCouponOrder.Items.length == 0 || clsCouponOrder.Items.length == null) {
                Swal.fire({ title: "", text: "Please Select Item Menu", icon: "error" });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Fn_Emp_CouponGeneration",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsCouponOrder),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            Swal.fire({ title: "", text: "Coupons Generated Successfully", icon: "success" });
                            $("#txtTeaQty").val("");
                            $("#txtBreakfastQty").val("");
                            $("#txtThaliQty").val("");
                            $("#txtMiniThaliQty").val("");
                            Fn_Get_A4_Coupon_Order();
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }
                    },
                    error: function (err) {
                        alert(err);

                    }
                });
            }

        }

        function Fn_Get_Coupon_Order() {

            var today = new Date();

            var day = String(today.getDate()).padStart(2, '0');
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var month = months[today.getMonth()];
            var year = today.getFullYear();

            var formattedDate = day + "-" + month + "-" + year;

            var clsCouponOrder = {};
            clsCouponOrder.CreatedBy = sessionStorage.getItem("LogInID");
            clsCouponOrder.EmpId = $("#ddlEmpName").val();
            clsCouponOrder.CouponIssueDate = formattedDate;
            clsCouponOrder.OrderStatus = "Generated";
            $("#dvQR").html('');
            var html = '';
            if ($("#ddlEmpName").val() == "0") {
                Swal.fire({ title: "", text: "Please Select employee", icon: "error" });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Fn_Get_Coupon_Order",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsCouponOrder),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj[0].vErrorMsg == "Success") {
                            for (var i = 0; i < obj.length; i++) {
                                html += "<div class='card'>";
                                html += "<div class='qr-card' id='gen-qr-card_" + i + "'>";
                                html += "<div style='display:flex;  justify-content:space-between; gap:10px;'>";
                                html += "<div class='lbl-text'>";
                                if (obj[i].ItemCategory == "Tea") {
                                    html += "<div style='font-size: 15px'>Item: ☕ Tea (<strong>₹" + obj[i].Price + ")</strong></div>";
                                }
                                else if (obj[i].ItemCategory == "Breakfast") {
                                    html += "<div style='font-size: 15px'>Item: 🍽️ Breakfast (<strong>₹" + obj[i].Price + ")</strong></div>";
                                }
                                else if (obj[i].ItemCategory == "Thali") {
                                    html += "<div style='font-size: 15px'>Item: 🍛 Thali (<strong>₹" + obj[i].Price + ")</strong></div>";
                                }
                                else if (obj[i].ItemCategory == "Mini Thali") {
                                    html += "<div style='font-size: 15px'>Item: 🍛 Mini Thali (<strong>₹" + obj[i].Price + ")</strong></div>";
                                }
                                else {
                                    html += "<div style='font-size: 15px'>Item: " + obj[i].ItemCategory + "</div>";
                                }
                                html += "<div>CId: " + obj[i].CouponId + "</div>";
                                html += "<div>Issued: " + obj[i].CouponIssueDate + "</div>";
                                html += "<div>Canteen: " + obj[i].CanteenName + "</div>";
                                html += "<div>Code: " + obj[i].EmpId + "</div>";
                                html += "</div>";
                                html += "<div id='gen-qr-wrap_" + i + "' style='width:90px; height:90px; display:flex; align-items:center; justify-content:center; margin-top:10px;'></div>";
                                html += "</div>";
                                html += "<div>Name: " + obj[i].EmpName + "</div>";
                                html += "</div>";
                                html += "</div>";
                            }

                            $("#dvQR").append(html);

                            for (var i = 0; i < obj.length; i++) {

                                var text = "" + obj[i].CouponId + "";

                                var qrcode = new QRCode(document.getElementById("gen-qr-wrap_" + i), {
                                    width: 90,
                                    height: 90
                                });

                                qrcode.makeCode(text);
                            }
                            $("#dvQR").show();
                            $("#btnPrintCard").show();
                            $("#btnPrintA4").hide();
                            $("#dvA4Size").html('');
                        }
                        else {
                            $("#btnPrintCard").hide();
                        }
                    },
                    error: function (err) {
                        alert(err);

                    }
                });
            }
        }

        function printQRCoupons() {
            var printContents = document.getElementById("dvQR").innerHTML;

            var printWindow = window.open("", "", "width=800,height=600");

            printWindow.document.write(`
                                                <html>
                                                <head>
                                                    <title>Print Stickers</title>
                                                    <style>
                                                        *{
                                                            box-sizing:border-box;
                                                        }

                                                        @@page{
                                                            size:auto;
                                                            margin:8mm;      /* Reduce printer margin */
                                                        }

                                                        html,body{
                                                            width:100%;
                                                            margin:0;
                                                            padding:0;
                                                            font-family:Arial,sans-serif;
                                                        }

                                                        body{
                                                            display:flex;
                                                            flex-direction:column;
                                                            align-items:center;
                                                            padding:5mm;
                                                        }

                                                        .qr-card{
                                                            width:3in;
                                                            border:1px solid #000;
                                                            padding:8px;
                                                            margin:8px auto;
                                                            page-break-inside:avoid;
                                                            overflow:hidden;
                                                        }

                                                        .lbl-text{
                                                            font-size:14px;
                                                            text-align:left;
                                                            word-break:break-word;
                                                        }

                                                        img{
                                                            display:block;
                                                            margin:0 auto;
                                                            max-width:100%;
                                                            height:auto;
                                                        }

                                                        @@media print{
                                                            body{
                                                                padding:0;
                                                            }

                                                            .qr-card{
                                                                page-break-inside:avoid;
                                                                break-inside:avoid;
                                                            }
                                                        }
                                                    </style>
                                                </head>
                                                <body>
                                                    ${printContents}
                                                </body>
                                                </html>
                                            `);

            printWindow.document.close();
            printWindow.focus();

            setTimeout(function () {
                printWindow.print();
                printWindow.close();
            }, 500);
        }

        function Fn_Get_A4_Coupon_Order() {

            var today = new Date();

            var day = String(today.getDate()).padStart(2, '0');
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var month = months[today.getMonth()];
            var year = today.getFullYear();

            var formattedDate = day + "-" + month + "-" + year;

            var clsCouponOrder = {};
            clsCouponOrder.CreatedBy = sessionStorage.getItem("LogInID");
            clsCouponOrder.EmpId = $("#ddlEmpName").val();
            clsCouponOrder.CouponIssueDate = formattedDate;
            clsCouponOrder.OrderStatus = "Generated";
            $("#dvA4Size").html('');
            var html = '';
            if ($("#ddlEmpName").val() == "0") {
                Swal.fire({ title: "", text: "Please Select employee", icon: "error" });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Fn_Get_Coupon_Order",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsCouponOrder),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj[0].vErrorMsg == "Success") {
                            for (var i = 0; i < obj.length; i++) {
                                html += "<div class='col-sm-4'>";
                                html += "<div class='card'>";
                                html += "<div class='qr-card' id='gen-qr-card_" + i + "'>";
                                html += "<div style='display:flex;  justify-content:space-between; gap:10px;'>";
                                html += "<div class='lbl-text'>";
                                if (obj[i].ItemCategory == "Tea") {
                                    html += "<div style='font-size: 15px'>Item: ☕ Tea (<strong>₹" + obj[i].Price + ")</strong></div>";
                                }
                                else if (obj[i].ItemCategory == "Breakfast") {
                                    html += "<div style='font-size: 15px'>Item: 🍽️ Breakfast (<strong>₹" + obj[i].Price + ")</strong></div>";
                                }
                                else if (obj[i].ItemCategory == "Thali") {
                                    html += "<div style='font-size: 15px'>Item: 🍛 Thali (<strong>₹" + obj[i].Price + ")</strong></div>";
                                }
                                else if (obj[i].ItemCategory == "Mini Thali") {
                                    html += "<div style='font-size: 15px'>Item: 🍛 Mini Thali (<strong>₹" + obj[i].Price + ")</strong></div>";
                                }
                                else {
                                    html += "<div style='font-size: 15px'>Item: " + obj[i].ItemCategory + "</div>";
                                }
                                html += "<div>CId: " + obj[i].CouponId + "</div>";
                                html += "<div>Issued: " + obj[i].CouponIssueDate + "</div>";
                                html += "<div>Canteen: " + obj[i].CanteenName + "</div>";
                                html += "<div>Code: " + obj[i].EmpId + "</div>";
                                html += "</div>";
                                html += "<div id='gen-qr-wrap_" + i + "' style='width:90px; height:90px; display:flex; align-items:center; justify-content:center; margin-top:10px;'></div>";
                                html += "</div>";
                                html += "<div>Name: " + obj[i].EmpName + "</div>";
                                html += "</div>";
                                html += "</div>";
                                html += "</div>";
                            }

                            $("#dvA4Size").append(html);

                            for (var i = 0; i < obj.length; i++) {

                                var text = "" + obj[i].CouponId + "";

                                var qrcode = new QRCode(document.getElementById("gen-qr-wrap_" + i), {
                                    width: 90,
                                    height: 90
                                });

                                qrcode.makeCode(text);
                            }
                            $("#dvA4Size").show();
                            $("#btnPrintA4").show();
                            $("#btnPrintCard").hide();
                            $("#dvQR").html('');
                        }
                        else {
                            $("#btnPrintA4").hide();
                        }
                    },
                    error: function (err) {
                        alert(err);

                    }
                });
            }
        }

        function Print_A4_Coupon() {

            var printContents = document.getElementById("dvA4Size").innerHTML;
            var printWindow = window.open('', '', 'width=900,height=700');

            printWindow.document.write(`
             <!DOCTYPE html>
             <html>
             <head>
                 <title>Print Coupons</title>             
                 <style>             
                     @@page {
                         size: A4 portrait;
                         margin: 10mm;
                     }
             
                     *{
                         box-sizing:border-box;
                     }
             
                     body{
                         margin:0;
                         padding:0;
                         font-family:Arial,sans-serif;
                     }
             
                     /* 3 Coupons Per Row */
                     #dvA4Size{
                         display:grid;
                         grid-template-columns:repeat(3,1fr);
                         width:100%;
                     }
             
                     .col-sm-4{
                         padding:10px;
             
                         /* Horizontal & Vertical Dotted Cut Lines */
                         border-right:2px dotted #000;
                         border-bottom:2px dotted #000;
             
                         page-break-inside:avoid;
                         break-inside:avoid;
                     }
             
                     /* Remove right dotted line on last column */
                     .col-sm-4:nth-child(3n){
                         border-right:none;
                     }
             
                     .card{
                         border:1px solid #000;
                         padding:8px;
                         min-height:180px;
                     }
             
                     .qr-card{
                         page-break-inside:avoid;
                         break-inside:avoid;
                     }
             
                     img{
                         max-width:100%;
                     }             
                 </style>             
             </head>             
             <body>             
                 <div id="dvA4Size">
                     ${printContents}
                 </div>             
             </body>
             </html>
             `);

            printWindow.document.close();

            printWindow.onload = function () {
                printWindow.focus();
                printWindow.print();
                printWindow.close();
            };
        }

    </script>
}


<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h4>Issue / Recharge Coupon</h4>
            <div class="card pb-5">
                <div class="row mb-3 mt-3">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Employee No.</label>
                            <select id="ddlEmpName" class="form-control" onchange="Fn_OnChange_ddlEmpName()" style="width: 100%;">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Emp Location</label>
                            <select id="ddlEmpLocation" class="form-control" onchange="Fn_OnChange_ddlEmpLocation()" style="width: 100%;">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Assign Canteen</label>
                            <select id="ddlCanteen" class="form-control" style="width: 100%;">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3" id="dvMenuItem">

                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" style="width:100%" onclick="Fn_Emp_CouponGeneration();">Generate Coupon & QR Code</button>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-success" style="width:100%" onclick="Fn_Get_Coupon_Order();">View Sticker</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-success" style="width:100%" onclick="Fn_Get_A4_Coupon_Order();">View A4</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 mt-2">
                        <button id="btnPrintCard" style="display:none; width: 100%;" class="btn btn-primary" onclick="printQRCoupons();">🖨 Print Card</button>
                        <button id="btnPrintA4" style="display:none; width: 100%;" class="btn btn-primary" onclick="Print_A4_Coupon();">🖨 Print A4</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h5>Generated Card</h5>
            <div id="dvQR" style="max-height: 500px; overflow-y: auto;">
            </div>

        </div>
    </div>

    <div class="row" id="dvA4Size">

    </div>
</div>
<!-- Team End -->
<script src="~/Web/js/select2.min.js"></script>
<script>
    $(function () {
        $("#ddlEmpName").select2();
        $("#ddlCanteen").select2();
        $("#ddlEmpLocation").select2();

    });

</script>