
@{
    ViewBag.Title = "Reports";
}

@{
    <script src="~/Web/js/jquery-3.7.1.min.js"></script>
    <link href="~/Web/css/select2.min.css" rel="stylesheet" />   
    <script src="~/Web/js/jquery-ui.min.js"></script>
    <link href="~/Web/css/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">

        $(document).ready(function () {

            var strFieldName = " CONCAT(EmpName, ' (', EmployeeId, ')') AS EmpName ";
            Fn_Fill_DropdownList("ddlEmpName", "EmployeeMaster", strFieldName, "EmployeeId", "");

            Fn_Fill_DropdownList("ddlCanteen", "CanteenMaster", "CanteenName", "CanteenId", "");

            $("#txtFromDate").datepicker({
                dateFormat: "dd-M-yy",
                defaultDate: new Date()
            });
            $("#txtToDate").datepicker({
                dateFormat: "dd-M-yy",
                defaultDate: new Date()
            });

            Fn_Get_Report();

        });
        function Fn_Fill_DropdownList(ddlName, strTBLName, strFieldName, strValueField, strCriteria) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vValueField = strValueField;
            clsRequestDropdown.vTBLName = strTBLName;
            clsRequestDropdown.vCriteria = strCriteria;
            $("#" + ddlName).html('');
            var dropdown = ''; var dropdown1 = "";
            dropdown1 = "<option value='0'>--Select--</option>";
            $("#" + ddlName).append(dropdown1);
            $.ajax({
                type: "POST",
                url: '/Home/Fn_Fill_DropdownList',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestDropdown),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    for (var i = 0; i < obj.length; i++) {
                        if (strValueField == "") {
                            dropdown += "<option value='" + obj[i].vFieldName + "'>" + obj[i].vFieldName + "</option>";
                        }
                        else {
                            dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "</option>";
                        }

                    }
                    $("#" + ddlName).append(dropdown);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_Get_Report() {

            var clsCouponReport = {};
            clsCouponReport.OrderStatus = "Scanned";
            $("#all-txn-tbl").html('');
            var html = '';
            $.ajax({
                type: "POST",
                url: "/Admin/Fn_Get_Coupon_Order",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsCouponReport),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {
                            html += "<tr>";
                            html += "<td>" + obj[i].CouponId + "</td>";
                            html += "<td>" + obj[i].OrderTakenDate + " " + obj[i].OrderTakenTime + "</td>";

                            html += "<td>" + obj[i].EmpId + "</td>";
                            html += "<td>" + obj[i].EmpName + "</td>";
                            html += "<td>" + obj[i].CanteenName + "</td>";
                            if (obj[i].ItemCategory == "Tea") {
                                html += "<td>☕ Tea</td>";
                                html += "<td><strong>₹" + obj[i].Price + "</strong></td>";
                            }
                            else if (obj[i].ItemCategory == "Thali") {
                                html += "<td>🍛 Thali</td>";
                                html += "<td><strong>₹" + obj[i].Price + "</strong></td>";
                            }
                            else if (obj[i].ItemCategory == "Breakfast") {
                                html += "<td>🍽️ Breakfast</td>";
                                html += "<td><strong>₹" + obj[i].Price + "</strong></td>";
                            }
                            else {
                                html += "<td>" + obj[i].ItemCategory + "</td>";
                                html += "<td><strong>₹" + obj[i].Price + "</strong></td>";
                            }

                            html += "</tr>";
                        }
                    }
                    else {
                        html += "<tr>";
                        html += "<td colspan='8'>" + obj[0].vErrorMsg + "</td>";
                        html += "<tr>";
                    }
                    $("#all-txn-tbl").append(html);
                },
                error: function (err) {
                    alert(err);

                }
            });
        }


    </script>
}

<div class="container">
    <div class="card">
        <nav aria-label="breadcrumb">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="products.html">Products</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Mobile
                </li>
            </ol>

        </nav>
    </div>

</div>

<!-- Team Start -->


<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="row">

                    <div class="col-sm-3">
                        <label>Employe</label>
                        <select id="ddlEmpName" class="form-control">
                            <option value="0">--Select--</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>Canteen</label>
                        <select id="ddlCanteen" class="form-control">
                            <option value="0">--Select--</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>From Date</label>
                        <input type="text" id="txtFromDate" class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <label>To Date</label>
                        <input type="text" id="txtToDate" class="form-control" />
                    </div>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Txn ID</th>
                                <th>Date & Time</th>
                                <th>Emp No</th>
                                <th>Name</th>
                                <th>Canteen</th>
                                <th>Item</th>
                                <th>Amt (₹)</th>
                            </tr>
                        </thead>
                        <tbody id="all-txn-tbl"></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<script src="~/Web/js/select2.min.js"></script>
<script>
    $(function () {
        $("#ddlEmpName").select2();
        $("#ddlCanteen").select2();

        //$("#txtFromDate").datepicker({
        //    dateFormat: "dd/mm/yy",
        //    changeMonth: true,
        //    changeYear: true
        //});
    });

</script>