
@{
    ViewBag.Title = "ResetPassword";
}


<script type="text/javascript">

    $(document).ready(function () {

        var empId = sessionStorage.getItem("LogInID");
        $("#txtEmpId").val(empId);

    });


    function Fn_Reset_Password() {

        if ($("#txtEmpId").val() == "") {
            Swal.fire({ title: "", text: "Please Enter Employee ID", icon: "error" });
        }
        else if ($("#txtPassword").val() == "") {
            Swal.fire({ title: "", text: "Please Enter the Password", icon: "error" });
        }
        else if ($("#txtConfirmPassword").val() == "") {
            Swal.fire({ title: "", text: "Please Enter the Confirm Password", icon: "error" });
        }
        else if ($("#txtConfirmPassword").val() != $("#txtPassword").val()) {
            Swal.fire({ title: "", text: "Confirm Password did not match.", icon: "error", });
        }
        else {
            var clsEmployee = {};
            clsEmployee.EmpId = $("#txtEmpId").val().trim();
            clsEmployee.EmpPassword = $("#txtPassword").val().trim();
            $.ajax({
                type: "POST",
                url: "/Admin/Fn_Reset_Password",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsEmployee),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj.vErrorMsg == "Success") {
                        Swal.fire({
                            title: "",
                            text: "Reset Password has been Successfully",
                            icon: "success",
                            timer: 2000,             
                            timerProgressBar: true,
                            showConfirmButton: false
                        }).then(() => {
                            window.location.href = '/Home/Index';
                        });
                    }
                    else {
                        Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error", });
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });
        }
    }

</script>

<div class="container mt-3">

    <div class="row">
        <div class="col-xl-12 col-xxl-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="card-header">
                            <h5>Reset Password</h5>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-label"><b>Emp Id</b></label>
                                <input type="text" id="txtEmpId" name="txtEmpId" class="form-control" readonly style="background-color: rgb(229, 228, 226);"/>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-label"><b>Password</b></label>
                                <input type="text" id="txtPassword" name="txtPassword" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-label"><b>Confirm Paasword</b></label>
                                <input type="text" id="txtConfirmPassword" name="txtConfirmPassword" class="form-control" />
                            </div>
                        </div>


                        <div class="col-sm-12" style="margin-top: 2%;">
                            <button type="submit" id="btnResetPassword" name="btnResetPassword" class="btn btn-primary pull-left" onclick="Fn_Reset_Password();">Reset Password</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

